[Advent of Code {{year}}](https://adventofcode.com/{{year}})
==========

| Day | Challenge | Solution |
|:---:|:---|:---:|
{%- for chall in solved_challs %}
| {{ chall.day }} | [{{ chall.name }}]({{ chall.link }}) | [{{ chall.lang }}]({{ chall.solution }}) |
{%- endfor %}
