# My solutions for [Advent of Code](https://adventofcode.com)

| Year | Solutions | Completed |
|:---:|:---:|:---:|
{%- for edition in editions %}
| {{ edition.year }} | [Solutions](./{{ edition.year }}) | {{edition.completed}}/25 ({{edition.percent}}%) |
{%- endfor %}

Last updated: {{ last_updated }}